*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color:rgb(210, 228, 248);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    background:rgb(59, 173, 250);
    height: 110px;
    width: 100%;
}
.logo img{
    margin-left: 30px;
    margin-top: 7px;
    width: 100px;
    border-radius: 50%;
}
nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 25px;
    padding: 7px 50px;
    border-radius: 3px;
    text-transform: uppercase;
}
a:hover{
    background: lightskyblue;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float:right;
    line-height:80px;
    margin-right: 40px;
    cursor:pointer;
    margin-top: 10px;
}
#check{
    display: none;
}
.head{
    font-size: 50px;
    margin-top: 10px;
    margin-left: 20px;
}
.sub{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    text-justify: auto;
}
