body{
    margin-top: 20px ;    
    margin-left: 20px;
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
.tbl{
    font-family:Arial; 
    font-size:xx-large;
    background-color: white;
}
